---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: rhinojobs.openrhino.org
spec:
  group: openrhino.org
  names:
    kind: RhinoJob
    listKind: RhinoJobList
    plural: rhinojobs
    singular: rhinojob
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.parallelism
      name: Parallelism
      type: integer
    - jsonPath: .status.jobStatus
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RhinoJob is the Schema for the rhinojobs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RhinoJobSpec defines the desired state of RhinoJob
            properties:
              appArgs:
                items:
                  type: string
                type: array
              appExec:
                type: string
              dataPath:
                type: string
              dataServer:
                type: string
              image:
                type: string
              parallelism:
                default: 1
                format: int32
                minimum: 1
                type: integer
              ttl:
                default: 600
                format: int32
                minimum: 0
                type: integer
            required:
            - appExec
            - image
            type: object
          status:
            description: RhinoJobStatus defines the observed state of RhinoJob
            properties:
              jobStatus:
                description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                  of cluster Important: Run "make" to regenerate code after modifying
                  this file'
                type: string
            required:
            - jobStatus
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
  - name: v1alpha2
    schema:
      openAPIV3Schema:
        description: RhinoJob is the Schema for the rhinojobs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RhinoJobSpec defines the desired state of RhinoJob
            properties:
              foo:
                description: Foo is an example field of RhinoJob. Edit rhinojob_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: RhinoJobStatus defines the observed state of RhinoJob
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
